doctype html
html(lang="en")
  include templates/head
body
  fieldset#upload
    |UPLOAD
  include templates/content.jade
  include templates/foot.jade
  script(type = 'text/javascript', src = "js/app.js")
