.projectNameButton {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  padding: 0.2em;
  top: 2em;
  right: 0px;
  height: 3em;
  width: 6.5em;
  color: #FFFFFF;
  font-family: Verdana, Geneva, sans-serif;
  font-weight: bold;
  text-align: center;
  background-color: #1E90FF; }

.addVersion {
  width: 2em; }

.button {
  width: 12%;
  float: left;
  clear: left;
  color: #3F3F3F;
  font-weight: bold;
  border-color: #272822;
  font-size: x-small;
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  background-color: #FFFFFF;
  transition: color 1s; }

.button:hover {
  background-color: #0465AA; }

.commentsGroup {
  position: relative;
  float: right;
  clear: right;
  right: 0px;
  width: 28%;
  min-height: 100%; }

.comment {
  position: absolute;
  right: 0px;
  width: 100%;
  padding: 0.3em;
  padding-left: 0px;
  box-sizing: border-box;
  background-color: #272822;
  border: 1px black ridge;
  transition: top 0.5s; }

.container {
  position: relative; }

.divComment {
  display: block;
  float: right;
  width: 85%;
  height: 100%;
  box-sizing: border-box;
  background-image: url("../img/42back.gif");
  font-family: Tahoma, sans-serif;
  font-size: small;
  padding: 0.2em;
  white-space: pre; }

.txtComment {
  display: block;
  resize: none;
  float: right;
  width: 85%;
  height: 100%;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  font-size: small;
  background-image: url("../img/42back.gif");
  resize: horizontal; }

html {
  height: 100%;
  width: 100%; }

body {
  background-image: url("../img/42back.gif"); }

pre {
  margin: 0;
  border: 1px groove black; }

.wrapper {
  height: 100%;
  width: 100%; }

.projectName {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  border-radius: 10px;
  position: absolute;
  top: 2em;
  right: 0px;
  height: 4em;
  width: 8em;
  resize: none; }

.header {
  position: fixed;
  top: 0;
  height: 2em;
  z-index: 2;
  width: 100%;
  color: white;
  font-family: Arial, Helvetica, "Liberation Sans", FreeSans, sans-serif;
  background-color: #3F3F3F; }

.headerLink {
  color: #FFFFFF; }

.uploadFile {
  max-width: 7em;
  font-size: 15px; }

.info {
  width: 100%;
  font-size: 130%;
  font-weight: bold; }

.content {
  position: relative;
  width: 70%;
  z-index: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.canWindow {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1; }
