@import 'buttons/buttons'
@import 'comments/comments'

$primary-color: #FFFFFF
$com-image: url('../img/42back.gif')

body
  background-image: $com-image
  margin: 0px

pre
  margin: 0
  border: 1px groove black

.project
  float: left
  width: 100%
.project-name
  font-size: large
  font-weight: bold
.name
  float: left
.project-info
  width: 100%
  z-index: 5
  font-family: 'Lato', sans-serif
  margin-top: 1em
  margin-bottom: 1em

.header
  float: left
  width: 100%
  margin-top: 3em
  font-family: 'Lato', sans-serif

.container-content
  float: left
  width: 100%
  z-index: 0
.content
  position: relative
  width: 50%
  z-index: 1
  -moz-user-select: none
  -webkit-user-select: none
  -ms-user-select: none
  user-select: none
.canWindow
  position: absolute
  top: 0px
  left: 0px
  z-index: 2

.row
  width: 100%
  display: inline

.file-nav-row
  position: fixed
  top: 0px
  z-index: 10
  color: #FFFFFF
  background-color: #4F4F4F
  height: 3em
.file
  display: inline

.addVersion
  display: inline
  float: right
  font-weight: bold
  font-size: large

.container-info
  float: left
  width: 100%
  color: #1E90FF
  font-weight: bold
  font-family: 'Lato', sans-serif
  margin-top: 1em
  margin-bottom: 1em
