
body
  margin: 0px
  margin-bottom: 0px
  background-image: url(../img/42back.gif)

pre
  margin: 0
  border: 1px solid black

img
  width: 100%

a
  color: white
  text-decoration: none

.name
  float: left

.button
  cursor: pointer

.header
  height: 36px
  font-family: "Lato", sans-serif
  .banner
    float: left
  .new-project
    float: right
    box-sizing: border-box
    height: 36px
    padding: 10px 10px 0px 10px
    color: #FAFAFA
    font-weight: bold
    font-size: 14px
    cursor: pointer
    text-align: center
    background-color: dodgerblue

.project
  .form-block
    position: fixed
    top: 0px
    left: 0px
    width: 100%
    height: 100%
    z-index: 200
    padding: 10% 25% 0px 25%
    background-color: rgba(100, 100, 100, 0.8)
    font-family: "Lato", sans-serif
    box-sizing: border-box
    .form-name
      width: 40%
      padding: 24px 20%
    .form-email
      width: 40%
      padding: 24px 20%
    .form-valid
      width: 40%
      padding: 24px 20%
      color: #fafafa
      border-radius: 3px
      background-color: #68b2f8
      text-align: center
      transition: color 0.5s
    .form-valid:hover
      background-color: dodgerblue
    .form-container-box
      border-spacing: 0px
      color: #fafafa
      .form-box-name
        width: 1%
        white-space: nowrap

  .usual
    position: relative
    float: left
    width: 100%
  .fixed-top
    position: fixed
    top: 0px
    width: 100%

  .nav-version
    float: left
    color: #cccccc
    font-size: 18px
  .version-name
    display: inline
    font-weight: bold
    color: #cccccc
    margin: 0px 12px
    box-sizing: border-box
    transition: 0.3s color, 0.3s border-bottom
    border-color: #333333
    &[contenteditable = true]
      outline: 0px solid transparent
  .version-name:hover
    color: #333333
    border-bottom: 5px solid

  .upload-wrapper
    display: inline
    float: left
    width: 36px
    height: 36px
    margin-left: 12px
    position: relative
    .upload-file
      position: relative
      overflow: hidden
      text-align: right
      width: 100%
      height: 100%
      -moz-opacity: 0
      opacity: 0
      z-index: 2
    .upload-fakebutton
      position: absolute
      text-align: center
      top: 0px
      left: 0px
      height: 100%
      width: 100%
      z-index: 1
      border-color: #cccccc
    .upload-wrapper:hover
      color: #cccccc
      border-bottom: 5px solid

  .project-info
    width: 100%
    height: 72px
    line-height: 72px
    background-color: #fafafa
    font-family: "Lato", sans-serif
    margin: 12px 0px
    .project-name
      height: 72px
      font-size: 24px
      font-weight: bold
      margin-left: 24px
      color: #525252
      &[contenteditable = true]
        outline: 0px solid transparent

  .file-nav
    height: 36px
    line-height: 36px
    text-align: center
    color: white
    font-family: "Lato", sans-serif
    background-color: #333333
    z-index: 100
    overflow: auto
    .files-list
      display: inline
      .file-anchor
        float: left
        font-weight: bold
        font-size: 14px
        padding: 0 5px
        margin-left: 24px
        transition: background-color 0.3s
      .file-anchor:hover
        background-color: #68b2f8

  .files-block
    .file-container
      position: relative
      .file-info
        z-index: 3
        font-family: "Lato", sans-serif
        box-sizing: border-box
        padding: 24px 0px 12px 24px
        font-weight: bold
        .file-name
          font-size: 18px
          color: #68b2f8
        .version-name
          font-size: 14px
        .file-delete
          position: relative
          float: left
          font-size: 12px
          color: #cb6767
          margin: 6px 0px 6px 24px
          transition: 0.3s border-bottom
          // box-sizing: border-box
        // .file-delete:hover
        //   border-bottom: 2px solid #cb6767
      .file-content
        .wrap-content
          position: relative
          float: left
          width: 50%
          overflow-x: auto
          .file-canvas
            position: absolute
            top: 0px
            left: 0px
            z-index: 2
          .syntaxhighlighter
            z-index: 0
        .col-comments
          .collapse-col
            top: -24px
            font-family: "Lato", sans-serif
            font-style: italic
            color: #68b2f8
            font-size: 14px
            cursor: pointer
            z-index: 2
            background-color: #fefefe
            text-align: center
            border-top: 1px solid #eee
            border-bottom: 1px solid #eee
          position: relative
          float: left
          width: 45%
          height: 100%
          .group-comment
            position: absolute
            float: left
            width: 100%
            box-sizing: border-box
            border: 1px solid #eee
            background-color: white
            transition: top 0.3s, margin-left 0.3s
            .wrap-comments
              margin: 6px
              border-left: 5px solid
              .collapse-com
                float: left
                background-color: white
                font-family: "Lato", sans-serif
                font-style: italic
                color: #68b2f8
                font-size: 12px
                cursor: pointer
              .comment
                padding: 3px 6px
                background-color: #fefefe
                font-family: "Open Sans", sans-serif
                transition: top 0.3s
                border-spacing: 6px 0px
                .comment-name
                  width: 1px
                  font-weight: bold
                  vertical-align: top
                .comment-right
                  min-width: 79%
                .comment-txt
                  color: #525252
                  font-size: 14px
                  white-space: pre
                  &[contenteditable = true]
                    outline: 0px solid transparent
                .comment-info
                  width: 100%
                  .comment-date
                    float: right
                    font-size: 12px
                    font-style: italic
                  .comment-button
                    display: inline
                    font-size: 12px
                    color: #68b2f8
                    font-weight: bold
