body {
  margin: 0px;
  background-image: url(../img/42back.gif); }

pre {
  margin: 0; }

img {
  width: 100%; }

a {
  color: white;
  text-decoration: none; }

.foot-element {
  position: static;
  bottom: 0px;
  float: left;
  width: 100%;
  padding: 12px 6px;
  box-sizing: border-box;
  color: #777777;
  font-style: italic;
  font-size: 12px;
  font-family: "Lato", sans-serif;
  text-align: center;
  border-top: 1px solid #eeeeee; }

.name {
  float: left; }

.button {
  cursor: pointer; }

.header {
  height: 36px;
  font-family: "Lato", sans-serif; }
  .header .banner {
    float: left;
    width: 100%;
    height: auto;
    max-height: 72px; }
  .header .new-project {
    float: right;
    box-sizing: border-box;
    height: 36px;
    padding: 10px 10px 0px 10px;
    color: #fafafa;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    background-color: dodgerblue; }

.project .loading {
  z-index: 500;
  background-color: rgba(200, 200, 200, 0.8);
  background-image: url(../img/loading.gif); }
.project .form-block {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 200;
  padding: 10% 25% 0px 25%;
  background-color: rgba(100, 100, 100, 0.8);
  font-family: "Lato", sans-serif;
  box-sizing: border-box; }
  .project .form-block .form-name {
    width: 40%;
    padding: 24px 20%; }
  .project .form-block .form-email {
    width: 40%;
    padding: 24px 20%; }
  .project .form-block .form-valid {
    width: 40%;
    padding: 24px 20%;
    color: #fafafa;
    border-radius: 3px;
    background-color: #68b2f8;
    text-align: center;
    transition: color 0.5s; }
  .project .form-block .form-valid:hover {
    background-color: dodgerblue; }
  .project .form-block .form-container-box {
    border-spacing: 0px;
    color: #fafafa; }
    .project .form-block .form-container-box .form-box-name {
      width: 1%;
      white-space: nowrap; }
.project .usual {
  position: relative;
  float: left;
  width: 100%; }
.project .fixed-top {
  position: fixed;
  top: 0px;
  width: 100%; }
.project .nav-version {
  float: left;
  color: #cccccc;
  font-size: 18px; }
.project .version-name {
  display: inline;
  font-weight: bold;
  color: #cccccc;
  margin-left: 24px;
  box-sizing: border-box;
  transition: 0.3s color, 0.3s border-bottom;
  border-color: #333333; }
  .project .version-name[contenteditable=true] {
    outline: 0px solid transparent; }
.project .version-name:hover {
  color: #333333;
  border-bottom: 5px solid; }
.project .upload-wrapper {
  display: inline;
  float: left;
  width: 36px;
  height: 36px;
  position: relative; }
  .project .upload-wrapper .upload-file {
    position: relative;
    overflow: hidden;
    text-align: right;
    width: 100%;
    -moz-opacity: 0;
    opacity: 0;
    z-index: 2; }
  .project .upload-wrapper .upload-fakebutton {
    position: absolute;
    top: 0px;
    left: 0px;
    float: left;
    height: 100%;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    padding: 6px 0px;
    font-size: 18px; }
  .project .upload-wrapper .upload-wrapper:hover {
    color: #cccccc;
    border-bottom: 5px solid; }
.project .tool-tip {
  display: inline;
  float: right;
  margin-right: 12px;
  color: #68b2f8; }
.project .project-info {
  width: 100%;
  float: left;
  height: 72px;
  line-height: 72px;
  background-color: #fafafa;
  font-family: "Lato", sans-serif;
  margin: 12px 0px; }
  .project .project-info .switch-display {
    box-sizing: border-box;
    padding: 6px 48px;
    font-size: 18px;
    font-weight: bold; }
  .project .project-info .project-name {
    height: 72px;
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
    color: #525252; }
    .project .project-info .project-name[contenteditable=true] {
      outline: 0px solid transparent; }
.project .file-nav {
  height: 36px;
  line-height: 36px;
  text-align: center;
  color: white;
  font-family: "Lato", sans-serif;
  background-color: #333333;
  z-index: 100;
  overflow: auto; }
  .project .file-nav .files-list {
    display: inline; }
    .project .file-nav .files-list .file-anchor {
      float: left;
      font-weight: bold;
      font-size: 14px;
      padding: 0 5px;
      margin-left: 24px;
      transition: background-color 0.3s; }
    .project .file-nav .files-list .file-anchor:hover {
      background-color: #68b2f8; }
.project .files-block .file-container {
  position: relative; }
  .project .files-block .file-container .file-info {
    z-index: 0;
    font-family: "Lato", sans-serif;
    box-sizing: border-box;
    padding: 24px 0px 12px 24px;
    font-weight: bold; }
    .project .files-block .file-container .file-info .file-name {
      font-size: 18px;
      color: #68b2f8; }
    .project .files-block .file-container .file-info .version-name {
      font-size: 14px; }
    .project .files-block .file-container .file-info .file-delete {
      position: relative;
      float: left;
      font-size: 12px;
      color: #cb6767;
      margin: 6px 0px 6px 24px;
      transition: 0.3s border-bottom; }
  .project .files-block .file-container .file-content {
    overflow-x: none; }
    .project .files-block .file-container .file-content .wrap-content {
      transition: left 0.3s, width 0.2s;
      position: relative;
      float: left;
      width: 50%;
      overflow-x: auto; }
      .project .files-block .file-container .file-content .wrap-content.tool-content {
        width: 100%; }
      .project .files-block .file-container .file-content .wrap-content .file-canvas {
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: 2; }
      .project .files-block .file-container .file-content .wrap-content .syntaxhighlighter {
        z-index: 0; }
    .project .files-block .file-container .file-content .col-comments {
      position: relative;
      float: left;
      width: 45%;
      height: 100%; }
      .project .files-block .file-container .file-content .col-comments.tool-colcom {
        width: 100%;
        position: absolute; }
        .project .files-block .file-container .file-content .col-comments.tool-colcom .group-comment {
          z-index: 50;
          border: none;
          width: 30%;
          border-radius: 6px; }
      .project .files-block .file-container .file-content .col-comments .collapse-col {
        top: -24px;
        font-family: "Lato", sans-serif;
        font-style: italic;
        color: #68b2f8;
        font-size: 14px;
        cursor: pointer;
        z-index: 2;
        text-align: center;
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee; }
      .project .files-block .file-container .file-content .col-comments .group-comment {
        position: absolute;
        float: left;
        width: 100%;
        box-sizing: border-box;
        background-color: #fefefe;
        border: 1px solid #eeeeee;
        transition: top 0.3s, margin-left 0.3s, left 0.3s, width 0.2s;
        overflow: hidden; }
        .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments {
          margin: 6px;
          border-left: 5px solid; }
          .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments .collapse-com {
            float: left;
            font-family: "Lato", sans-serif;
            font-style: italic;
            color: #68b2f8;
            font-size: 12px;
            cursor: pointer; }
          .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments .comment {
            padding: 3px 6px;
            font-family: "Open Sans", sans-serif;
            transition: top 0.3s;
            border-spacing: 6px 0px; }
            .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments .comment .comment-name {
              width: 1px;
              font-weight: bold;
              vertical-align: top; }
            .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments .comment .comment-right {
              min-width: 79%; }
            .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments .comment .comment-txt {
              color: #525252;
              font-size: 14px;
              white-space: pre; }
              .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments .comment .comment-txt[contenteditable=true] {
                outline: 0px solid transparent; }
            .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments .comment .comment-info {
              width: 100%; }
              .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments .comment .comment-info .comment-date {
                float: right;
                font-size: 12px;
                font-style: italic; }
              .project .files-block .file-container .file-content .col-comments .group-comment .wrap-comments .comment .comment-info .comment-button {
                display: inline;
                font-size: 12px;
                color: #68b2f8;
                font-weight: bold; }
