html {
  height: 98%;
}

body {
  background-color: #3F3F3F;
}

pre {
  margin: 0;
}

.wrapper {
  position: relative;
  overflow-x: auto;
  background-color: #4F4F4F;
  border: 1px groove black;
  width: 60%;
}

.canWindow {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 1;
}

.commentsGroup {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 35%;
  min-height: 100%;
}

.viewFile {
  overflow-x: hidden;
  display: inline-block;
  min-width: 100%;
  z-index: 0;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.uploadFile {
}

.comment {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  padding: 0.3em;
  box-sizing: border-box;
  background-color: #272822;
  border-radius: 1em;
  border: 2px black ridge;
  transition: top 1s;
  transition: background-color 0.5s;
}

.createButton {
  display: inline;
  width: 100% ;
  border-radius: 10px;
}

.deleteButton {
  display: inline;
  width: 100% ;
  border-radius: 10px;
}

.divComment {
  display: block;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  background-image: url('../img/42back.gif');
  font-family: Tahoma, sans-serif;
  font-size: small;
  border-radius: 1em;
  padding: 0.2em;
  white-space: pre;
}

.txtComment {
  display: block;
  width: 98%;
  height: 100%;
  padding: 5px;
  font-family: Tahoma, sans-serif;
  font-size: small;
  background-image: url('../img/42back.gif');
  resize: horizontal;
}
