head
	title CommentFile app
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

	//- Essential css
	link(rel='stylesheet', href='css/feedy.css', type='text/css')
	link(href="css/styles/shCore.css", rel="stylesheet" type="text/css")
	//- Style highlight
	link(href="css/styles/shThemeFadeToGrey.css", rel="stylesheet" type="text/css")
	//- JS highlight
	script(src="js/libs/shCore.js", type="text/javascript")
	script(src="js/libs/shBrushJScript.js", type="text/javascript")
	script(src="js/libs/shAutoloader.js", type="text/javascript")
	script(src="js/libs/shLegacy.js", type="text/javascript")

	//- Police & img
	link(rel='icon', href='/img/icon.png')
	link(href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')
	link(href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet")

	script(type = 'text/javascript').
		var current_proj = !{JSON.stringify(locals)};

	//- Libs app
	script(type = 'text/javascript', src = "http://" + locals.host + ":" + locals.port + "/socket.io/socket.io.js")
	script(type = 'text/javascript', src = "js/libs/sand.min.js")
	script(type = 'text/javascript', src = "js/libs/Seed.js")
	script(type = 'text/javascript', src = "js/libs/prettyDate.js")
	script(type = 'text/javascript', src = "js/libs/toDOM.sand.js")
	script(type = 'text/javascript', src = "js/libs/core.min.js")
	script(type = 'text/javascript', src = "js/libs/dp.light.min.js")


	//- Feedy app
	script(type = 'text/javascript', src = "js/libs/feedy/CanvasArea.js")
	script(type = 'text/javascript', src = "js/libs/feedy/CanvasTrack.js")
	script(type = 'text/javascript', src = "js/libs/feedy/ColComments.js")
	script(type = 'text/javascript', src = "js/libs/feedy/Feedy.js")
	script(type = 'text/javascript', src = "js/libs/feedy/Comment.js")
	script(type = 'text/javascript', src = "js/libs/feedy/CommentsGroup.js")
	script(type = 'text/javascript', src = "js/libs/feedy/FileContainer.js")
	script(type = 'text/javascript', src = "js/libs/feedy/Library.js")
	script(type = 'text/javascript', src = "js/libs/feedy/Header.js")
	script(type = 'text/javascript', src = "js/libs/feedy/VersionPicker.js")
	script(type = 'text/javascript', src = "js/libs/feedy/ProjectViewer.js")
	script(type = 'text/javascript', src = "js/libs/feedy/UploadFile.js")
