head
	title Comment test
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

	link(rel='stylesheet', href='css/index.css', type='text/css')
	link(rel='stylesheet', href='css/atelier-dune.dark.css', type='text/css')

	script(type = 'text/javascript', src = "http://localhost:3000/socket.io/socket.io.js")
	script(type = 'text/javascript', src = "js/libs/sand.min.js")
	script(type = 'text/javascript', src = "js/libs/toDOM.sand.js")

	script(type = 'text/javascript', src = "http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js")

	script(type = 'text/javascript', src = "js/libs/ReadUpload.js")
	script(type = 'text/javascript', src = "js/libs/FileViewer.js")
	script(type = 'text/javascript', src = "js/libs/Publisher.js")
	script(type = 'text/javascript', src = "js/libs/CanTrack.js")
	script(type = 'text/javascript', src = "js/libs/CanArea.js")
	script(type = 'text/javascript', src = "js/libs/ColComments.js")
	script(type = 'text/javascript', src = "js/libs/SingleComment.js")

