head
	title CommentFile app
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

	//- Essential css
	link(rel='stylesheet', href='css/comApp.css', type='text/css')
	link(href="css/styles/shCore.css", rel="stylesheet" type="text/css")
	//- Style highlight
	link(href="css/styles/shThemeMidnight.css", rel="stylesheet" type="text/css")
	//- JS highlight
	script(src="js/libs/shCore.js", type="text/javascript")
	script(src="js/libs/shBrushJScript.js", type="text/javascript")
	script(src="js/libs/shAutoloader.js", type="text/javascript")
	script(src="js/libs/shLegacy.js", type="text/javascript")

	link(rel='icon', href='/img/icon.png')
	link(href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css')
	link(href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css')

	script(type = 'text/javascript', src = "http://localhost:3000/socket.io/socket.io.js")
	script(type = 'text/javascript', src = "js/libs/sand.min.js")
	script(type = 'text/javascript', src = "js/libs/Seed.js")
	script(type = 'text/javascript', src = "js/libs/prettyDate.js")
	script(type = 'text/javascript', src = "js/libs/toDOM.sand.js")
	script(type = 'text/javascript', src = "js/libs/core.min.js")
	script(type = 'text/javascript', src = "js/libs/dp.light.min.js")





	script(type = 'text/javascript').
		var current_proj = !{JSON.stringify(locals)};


	script(type = 'text/javascript', src = "js/libs/comApp/CanvasArea.js")
	script(type = 'text/javascript', src = "js/libs/comApp/CanvasTrack.js")
	script(type = 'text/javascript', src = "js/libs/comApp/ColComments.js")
	script(type = 'text/javascript', src = "js/libs/comApp/ComApp.js")
	script(type = 'text/javascript', src = "js/libs/comApp/Comment.js")
	script(type = 'text/javascript', src = "js/libs/comApp/CommentsGroup.js")
	script(type = 'text/javascript', src = "js/libs/comApp/FileContainer.js")
	script(type = 'text/javascript', src = "js/libs/comApp/Header.js")
	script(type = 'text/javascript', src = "js/libs/comApp/VersionPicker.js")
	script(type = 'text/javascript', src = "js/libs/comApp/ProjectViewer.js")
	script(type = 'text/javascript', src = "js/libs/comApp/ProjectName.js")
	script(type = 'text/javascript', src = "js/libs/comApp/UploadFile.js")
