head
	title Comment test
	meta(charset="utf-8")
	meta(name="viewport", content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0")

	link(rel='stylesheet', href='css/index.css', type='text/css')
	link(rel='stylesheet', href='css/styles/monokai.css', type='text/css')

	script(type = 'text/javascript', src = "http://localhost:3000/socket.io/socket.io.js")
	script(type = 'text/javascript', src = "js/libs/sand.min.js")
	script(type = 'text/javascript', src = "js/libs/Publisher.js")
	script(type = 'text/javascript', src = "js/libs/Seed.js")
	script(type = 'text/javascript', src = "js/libs/toDOM.sand.js")

	script(type = 'text/javascript', src = "http://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.1/highlight.min.js")

	script(type = 'text/javascript', src = "js/libs/appComments/appComments.js")
	script(type = 'text/javascript', src = "js/libs/appComments/CanvasArea.js")
	script(type = 'text/javascript', src = "js/libs/appComments/CanvasTrack.js")
	script(type = 'text/javascript', src = "js/libs/appComments/Comment.js")
	script(type = 'text/javascript', src = "js/libs/appComments/CommentsGroup.js")
	script(type = 'text/javascript', src = "js/libs/appComments/FileFormat.js")
	script(type = 'text/javascript', src = "js/libs/appComments/GenerateLink.js")
	script(type = 'text/javascript', src = "js/libs/appComments/ServerInterface.js")
	script(type = 'text/javascript', src = "js/libs/appComments/UploadFile.js")
	script(type = 'text/javascript', src = "js/libs/appComments/ViewFile.js")
