=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius:    $radius
  -ms-border-radius:     $radius
  border-radius:         $radius

.banner
  float: left
.header-project
  float: right
  padding: 0.2em
  height: 3em
  width: 6em
  color: #FFFFFF
  font-weight: bold
  text-align: center
  background-color: #1E90FF
  font-size: large

.addVersion
  width: 5%


.button
  display: inline
  font-weight: bold
.comButton
  font-size: x-small

.button:hover
  background-color: #AABBCC
  cursor: pointer
