$com-image: url('../img/42back.gif')

.commentsGroup
  position: relative
  float: right
  clear: right
  right: 0px
  width: 45%
  min-height: 100%

.comment
  box-sizing: border-box
  position: absolute
  float: right
  clear: right
  width: 98%
  padding: 0.3em
  font-family: 'Open Sans', sans-serif
  transition: top 0.5s
  background-color: #FFFFFF
  border: 1px solid #4F4F4F

.comment-wrapper
  border-left: 5px solid
  padding-left: 1em


.container
  position: relative

.divComment
  display: block
  float: left
  width: 100%
  font-family: 'Open Sans', sans-serif
  font-size: small
  padding: 0.2em
  white-space: pre

.txtComment
  display: block
  resize: none
  border: none
  float: left
  width: 100%
  padding: 0.2em
  font-family: 'Open Sans', sans-serif
  font-size: small
