$com-image: url('../img/42back.gif')


.commentsGroup
  position: relative
  float: right
  clear: right
  right: 0px
  width: 28%
  min-height: 100%

.comment
  position: absolute
  right: 0px
  width: 100%
  padding: 0.3em
  padding-left: 0px
  box-sizing: border-box
  background-color: #272822
  border: 1px black ridge
  transition: top 1s

.container
  position: relative

.divComment
  display: block
  float: right
  width: 85%
  height: 100%
  box-sizing: border-box
  background-image: $com-image
  font-family: Tahoma, sans-serif
  font-size: small
  padding: 0.2em
  white-space: pre

.txtComment
  display: block
  resize: none
  float: right
  width: 85%
  height: 100%
  padding: 5px
  font-family: Tahoma, sans-serif
  font-size: small
  background-image: $com-image
  resize: horizontal
